@import "./styleguide.css";

/*! header styles */
.header-container {
    padding-top: 8px;
    padding-bottom: 8px;
}

@media screen and (min-width: 736px) {
    .header-container {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.header-title {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.67;
    letter-spacing: 0.5px;
    color: var(--orange);
}

.header-logo {
    display: block;
    width: 24px;
    height: 24px;
}

/*! posts styles */
.posts {
    margin-bottom: 96px;
}

@media screen and (min-width: 1158px) {
    .posts {
        margin-bottom: 80px;
    }
}

.posts-list {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .posts-list {
        gap: 24px;
        grid-template-columns: repeat(2, 1fr);
    }

    .posts-list>.first {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
}

.post>a {
    position: relative;
    color: var(--common-white);
}

.overlay {
    border-radius: 0px 0px 30px 30px;
    background-color: rgba(18, 18, 22, 0.5);
    padding: 12px 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media (min-width: 768px) {
    .overlay {
        padding: 10px 20px;
    }
}

@media (min-width: 1440px) {
    .overlay {
        padding: 24px 48px;
    }
}

.post-subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.5px;
}

@media (min-width: 768px) {
    .post-subtitle {
        font-size: 20px;
        line-height: 1.4;
    }
}